body{
    background:url("/Learn_CSS/img/bg.jpg");
    background-size: 1920px 1080px;
    background-repeat:no-repeat;
    background-attachment: fixed;
    
}
#head1{
    display: inline;
    color:white;
    border: 3px solid white;
    padding: 50px;

}
.header{
    display: inline;

    border: 2px solid black;
  
}
.header a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 50px 25px;
    margin-left: 50px;
    padding: 10px;

}
.navbar{
    width: 50%;
    color: white;
    border: 2px solid blue;;
}

 